# kimdictor custom
drone/Debug
*Debug.launch
hamstrone_ground
.depend
*.so
*.la
*.old
*.vscode*
*.bdat
*.pdat
*.dep
System.map

# nuttx os default setting
*.a
*.adb
*.asm
*.bin
*.d
!*.d/
*.dSYM
*.elf
*.exe
*.hex
*.i
*.ihx
*.lib
*.lod
*.lst
*.map
*.o
*.obj
*.rel
*.src
*.srec
*.swp
*.sym
*.wsp
*~
.depend
nuttx/os/.clean_context
nuttx/os/.config
nuttx/os/.config.old
nuttx/os/.config-e
nuttx/os/.cproject
nuttx/os/.gdbinit
nuttx/os/.project
nuttx/os/.version
nuttx/os/_SAVED_APPS_config
nuttx/os/cscope.*
nuttx/os/defconfig
nuttx/os/defconfig.tmp-e
nuttx/os/Make.defs
nuttx/os/nuttx
nuttx/os/nuttx-*
nuttx/os/nuttx.*
nuttx/os/staging
nuttx/os/tags
nuttx/os/TAGS
core
Make*.dep
uImage
nuttx/os/external